
:root{
	/*Variables*/
	--page-gap: 15px; 
	--input-min-height:  34px;
	--btn-min-side:  44px;
	--menu-rad:  40px;
	--scrollbar-width:  0px;
	--input-rad:  6px;

	/*Colors*/
	--black: #000000;
	--white: #ffffff;
	--purple_af0:  #af008a;
	--red_c11:  #c11a32;
	--red_da0: #da0039;
	--red_ca1:  #ca1533;
	--yellow_edc:  #edc40d;
	--gray_575:  #575756;
	--green_7bb:  #7bb92e;
	--yellow_fdf:  #fdf7eb;

	--gray_565:  #565655;
	--gray_585:  #585857;
	--gray_d8d:  #d8d8d8;
	--gray_ded:  #dedede;
	--gray_f4f:  #f4f4f4;
	--gray_686:  #686868;
	--green_67a:  #67a23a;
	--outline-color: color( #af008a alpha(-50%) ); 

	--grad-main:  linear-gradient(to right, var(--purple_af0) 0%, var(--red_ca1) 100%);

	/*Fonts*/
	--fw-thin: 100;
	--fw-extra-light: 200;
	--fw-light: 300;
	--fw-normal: 400;
	--fw-medium: 500;
	--fw-semi-bold: 600;
	--fw-bold: 700;
	--fw-extra-bold: 800;
	--fw-black: 900;	
}


@custom-media --medium-viewport (width > 639px);
@custom-media --large-viewport (width > 1023px);

@custom-selector :--all-headers h1, h2, h3, h4, h5, h6;

/* FONTS */


@font-face {
    font-family: Roboto;
    src: 	'../fonts/Roboto/RobotoRegular.woff',
    		'../fonts/Roboto/RobotoRegular.woff2';
    font-style: normal;
    font-weight: var(--fw-normal);
}

@font-face {
    font-family: Roboto;
    src: 	'../fonts/Roboto/RobotoBold.woff',
    		'../fonts/Roboto/RobotoBold.woff2';
    font-style: normal;
    font-weight: var(--fw-bold);
}

@font-face {
    font-family: Rubik;
    src: 	'../fonts/Rubik/RubikRegular.woff',
    		'../fonts/Rubik/RubikRegular.woff2';
    font-style: normal;
    font-weight: var(--fw-normal);
}

@font-face {
    font-family: Rubik;
    src: 	'../fonts/Rubik/RubikMedium.woff',
    		'../fonts/Rubik/RubikMedium.woff2';
    font-style: normal;
    font-weight: var(--fw-medium);
}

@font-face {
    font-family: Circe;
    src: 	'../fonts/Circe/CirceRegular.woff',
    		'../fonts/Circe/CirceRegular.woff2';
    font-style: normal;
    font-weight: var(--fw-normal);
}

/* OTHER */

*{
	box-sizing: border-box;
	max-width: 100%;
	word-break: break-word;
	&:matches(:active,:focus){
		outline-color: var(--purple_af0);
	}
}

html,
body{
	width: 100%;
	min-height: 100%;
	margin:  0;
	padding: 0;
	font-family: Roboto, Rubik, sans-serif;
	font-size: 16px;
	font-weight: var(--fw-normal);
}

img{
	max-width: 100%;
}

@supports(object-fit: contain){
	img{
		object-fit: contain;
	}
}

:--all-headers{
	font-family: Rubik, Roboto, sans-serif;
	font-weight: var(--fw-medium);
}

h1{
	font-size: 36px;	
	@media (--medium-viewport){
		font-size: 42px;
	}
	@media (--large-viewport){
		font-size: 48px;
	}	
}
h2{
	font-size: 24px;	
	@media (--medium-viewport){
		font-size: 32px;
	}
	@media (--large-viewport){
		font-size: 36px;
	}	
}
h3{
	font-size: 18px;	
	@media (--medium-viewport){
		font-size: 32px;
	}
	@media (--large-viewport){
		font-size: 30px;
	}	
}
h4{
	font-size: 20px;	
}
h5{
	font-size: 18px;
}
h6{
	font-size: 16px;
}