#container
	#content
		header
			h1
				| Chosen 
		h2
			a.anchor(name='standard-select', href='#standard-select') Standard Select
		.side-by-side.clearfix
			div.text--center
				select.chosen-select(data-placeholder='Выберите категорию', tabindex='2')
					option(value='Все батончики') Все батончики
					option(value='Батончики мюсли в йогурте «Tekmar»') Батончики мюсли в йогурте «Tekmar»
					option(value='Батончики мюсли БЕЗ САХАРА «Tekmar»') Батончики мюсли БЕЗ САХАРА «Tekmar»
					option(value='Батончики мюсли арахисовые «Tekmar»') Батончики мюсли арахисовые «Tekmar»
					option(value='«TEKMARKY» батончики мюсли в йогуртовой глазури') «TEKMARKY» батончики мюсли в йогуртовой глазури
					option(value='Батончики мюсли в молочной глазури «Tekmar»') Батончики мюсли в молочной глазури «Tekmar»
					option(value='Батончики мюсли «JUICY BAR» с желе в глазури «Tekmar»') Батончики мюсли «JUICY BAR» с желе в глазури «Tekmar»
					option(value='«EnerLine» батончики мюсли с желе начинкой «Tekmar»') «EnerLine» батончики мюсли с желе начинкой «Tekmar»
		h2
			a.anchor(name='multiple-select', href='#multiple-select') Multiple Select
		.side-by-side.clearfix
			div
				select.chosen-select(data-placeholder='Выберите категорию', multiple='', tabindex='4')
					option(value='')
					option(value='Все батончики') Все батончики
					option(value='Батончики мюсли в йогурте «Tekmar»') Батончики мюсли в йогурте «Tekmar»
					option(value='Батончики мюсли БЕЗ САХАРА «Tekmar»') Батончики мюсли БЕЗ САХАРА «Tekmar»
					option(value='Батончики мюсли арахисовые «Tekmar»') Батончики мюсли арахисовые «Tekmar»
					option(value='«TEKMARKY» батончики мюсли в йогуртовой глазури') «TEKMARKY» батончики мюсли в йогуртовой глазури
					option(value='Батончики мюсли в молочной глазури «Tekmar»') Батончики мюсли в молочной глазури «Tekmar»
					option(value='Батончики мюсли «JUICY BAR» с желе в глазури «Tekmar»') Батончики мюсли «JUICY BAR» с желе в глазури «Tekmar»
					option(value='«EnerLine» батончики мюсли с желе начинкой «Tekmar»') «EnerLine» батончики мюсли с желе начинкой «Tekmar»
		h2
			a.anchor(name='optgroup-support', href='#optgroup-support') <optgroup> Support
		.side-by-side.clearfix
			div
				em Single Select with Groups
				select.chosen-select(data-placeholder='Your Favorite Football Team', tabindex='5')
					option(value='')
					optgroup(label='NFC EAST')
						option Dallas Cowboys
						option New York Giants
						option Philadelphia Eagles
						option Washington Redskins
					optgroup(label='NFC NORTH')
						option Chicago Bears
						option Detroit Lions
						option Green Bay Packers
						option Minnesota Vikings
					optgroup(label='NFC SOUTH')
						option Atlanta Falcons
						option Carolina Panthers
						option New Orleans Saints
						option Tampa Bay Buccaneers
					optgroup(label='NFC WEST')
						option Arizona Cardinals
						option St. Louis Rams
						option San Francisco 49ers
						option Seattle Seahawks
					optgroup(label='AFC EAST')
						option Buffalo Bills
						option Miami Dolphins
						option New England Patriots
						option New York Jets
					optgroup(label='AFC NORTH')
						option Baltimore Ravens
						option Cincinnati Bengals
						option Cleveland Browns
						option Pittsburgh Steelers
					optgroup(label='AFC SOUTH')
						option Houston Texans
						option Indianapolis Colts
						option Jacksonville Jaguars
						option Tennessee Titans
					optgroup(label='AFC WEST')
						option Denver Broncos
						option Kansas City Chiefs
						option Oakland Raiders
						option San Diego Chargers
			div
				em Multiple Select with Groups
				select.chosen-select(data-placeholder='Your Favorite Football Team', multiple='', tabindex='6')
					option(value='')
					optgroup(label='NFC EAST')
						option Dallas Cowboys
						option New York Giants
						option Philadelphia Eagles
						option Washington Redskins
					optgroup(label='NFC NORTH')
						option Chicago Bears
						option Detroit Lions
						option Green Bay Packers
						option Minnesota Vikings
					optgroup(label='NFC SOUTH')
						option Atlanta Falcons
						option Carolina Panthers
						option New Orleans Saints
						option Tampa Bay Buccaneers
					optgroup(label='NFC WEST')
						option Arizona Cardinals
						option St. Louis Rams
						option San Francisco 49ers
						option Seattle Seahawks
					optgroup(label='AFC EAST')
						option Buffalo Bills
						option Miami Dolphins
						option New England Patriots
						option New York Jets
					optgroup(label='AFC NORTH')
						option Baltimore Ravens
						option Cincinnati Bengals
						option Cleveland Browns
						option Pittsburgh Steelers
					optgroup(label='AFC SOUTH')
						option Houston Texans
						option Indianapolis Colts
						option Jacksonville Jaguars
						option Tennessee Titans
					optgroup(label='AFC WEST')
						option Denver Broncos
						option Kansas City Chiefs
						option Oakland Raiders
						option San Diego Chargers
		h2
			a.anchor(name='selected-and-disabled-support', href='#selected-and-disabled-support') Selected and Disabled Support
		.side-by-side.clearfix
			p Chosen automatically highlights selected options and removes disabled options.
			div
				em Single Select
				select.chosen-select(data-placeholder='Your Favorite Type of Bear', tabindex='7')
					option(value='')
					option American Black Bear
					option Asiatic Black Bear
					option Brown Bear
					option Giant Panda
					option(selected='') Sloth Bear
					option(disabled='') Sun Bear
					option Polar Bear
					option(disabled='') Spectacled Bear
			div
				em Multiple Select
				select.chosen-select(data-placeholder='Your Favorite Types of Bear', multiple='', tabindex='8')
					option(value='')
					option American Black Bear
					option Asiatic Black Bear
					option Brown Bear
					option Giant Panda
					option(selected='') Sloth Bear
					option(disabled='') Sun Bear
					option(selected='') Polar Bear
					option(disabled='') Spectacled Bear
		h2
			a.anchor(name='hide-search-on-single-select', href='#hide-search-on-single-select') Hide Search on Single Select
		.side-by-side.clearfix
			p
				| The 
				code disable_search_threshold
				|  option can be specified to hide the search input on single selects if there are 
				i n
				|  or fewer options.
			pre.
			p
			div
				select.chosen-select-no-single(data-placeholder='Your Favorite Type of Bear', tabindex='9')
					option(value='')
					option American Black Bear
					option Asiatic Black Bear
					option Brown Bear
					option Giant Panda
					option(selected='', disabled='') Sloth Bear
					option(disabled='') Sun Bear
					option(selected='', disabled='') Paddington Bear
					option(selected='') Polar Bear
					option(disabled='') Spectacled Bear
		h2
			a.anchor(name='default-text-support', href='#default-text-support') Default Text Support
		.side-by-side.clearfix
			p
				| Chosen automatically sets the default field text ("Choose a country...") by reading the select element's data-placeholder value. If no data-placeholder value is present, it will default to "Select an Option" or "Select Some Options" depending on whether the select is single or multiple. You can change these elements in the plugin js file as you see fit.
			pre.
			p
				strong Note:
				|  on single selects, the first element is assumed to be selected by the browser. To take advantage of the default text support, you will need to include a blank option as the first element of your select list.
		h2
			a.anchor(name='no-results-text-support', href='#no-results-text-support') No Results Text Support
		.side-by-side.clearfix
			p
				| Setting the "No results" search text is as easy as passing an option when you create Chosen:
			pre.
			p
			div
				em Single Select
				select.chosen-select-no-results(data-placeholder="Type 'C' to view", tabindex='10')
					option(value='')
					option American Black Bear
					option Asiatic Black Bear
					option Brown Bear
					option Giant Panda
					option Sloth Bear
					option Sun Bear
					option Polar Bear
					option Spectacled Bear
			div
				em Multiple Select
				select.chosen-select-no-results(data-placeholder="Type 'C' to view", multiple='', tabindex='11')
					option(value='')
					option American Black Bear
					option Asiatic Black Bear
					option Brown Bear
					option Giant Panda
					option Sloth Bear
					option Sun Bear
					option Polar Bear
					option Spectacled Bear
		h2
			a.anchor(name='limit-selected-options-in-multiselect', href='#limit-selected-options-in-multiselect') Limit Selected Options in Multiselect
		.side-by-side.clearfix
			p You can easily limit how many options the user can select:
			pre.
			p
				| If you try to select another option with limit reached 
				code.language-javascript chosen:maxselected
				|  event is triggered:
			pre.
		h2
			a.anchor(name='allow-deselect-on-single-selects', href='#allow-deselect-on-single-selects') Allow Deselect on Single Selects
		.side-by-side.clearfix
			p
				| When a single select box isn't a required field, you can set 
				code.language-javascript allow_single_deselect: true
				|  and Chosen will add a UI element for option deselection. This will only work if the first option has blank text.
			.side-by-side.clearfix
				select.chosen-select-deselect(data-placeholder='Your Favorite Type of Bear', tabindex='12')
					option(value='')
					option American Black Bear
					option Asiatic Black Bear
					option Brown Bear
					option Giant Panda
					option(selected='') Sloth Bear
					option Sun Bear
					option Polar Bear
					option Spectacled Bear
		h2
			a.anchor(name='right-to-left-support', href='#right-to-left-support') Right-to-Left Support
		.side-by-side.clearfix
			p
				| You can set right-to-left text by setting 
				code.language-javascript rtl: true
			pre.
			div
				em Single Right-to-Left Select
				select.chosen-select-rtl(data-placeholder='Your Favorite Type of Bear', tabindex='13')
					option(value='')
					option American Black Bear
					option Asiatic Black Bear
					option Brown Bear
					option Giant Panda
					option(selected='') Sloth Bear
					option Polar Bear
			div
				em Multiple Right-to-Left Select
				select.chosen-select-rtl(data-placeholder='Your Favorite Types of Bear', multiple='', tabindex='14')
					option(value='')
					option American Black Bear
					option Asiatic Black Bear
					option Brown Bear
					option Giant Panda
					option(selected='') Sloth Bear
					option(selected='') Polar Bear
		h2
			a.anchor(name='change-update-events', href='#change-update-events') Observing, Updating, and Destroying Chosen
		.side-by-side.clearfix
			ul
				li
					h3 Observing Form Field Changes
					p
						| When working with form fields, you often want to perform some behavior after a value has been selected or deselected. Whenever a user selects a field in Chosen, it triggers a "change" event on the original form field. That lets you do something like this:
					pre.
				li
					h3 Updating Chosen Dynamically
					p
						| If you need to update the options in your select field and want Chosen to pick up the changes, you'll need to trigger the "chosen:updated" event on the field. Chosen will re-build itself based on the updated content.
					pre.
				li
					h3 Destroying Chosen
					p To destroy Chosen and revert back to the native select:
					pre.
		h2
			a.anchor(name='custom-width-support', href='#custom-width-support') Custom Width Support
		.side-by-side.clearfix
			p
				| Using a custom width with Chosen is as easy as passing an option when you create Chosen:
			pre.
			div
				em Single Select
				select.chosen-select-width(data-placeholder='Your Favorite Types of Bear', tabindex='15')
					option(value='')
					option(selected='') American Black Bear
					option Asiatic Black Bear
					option Brown Bear
					option Giant Panda
					option Sloth Bear
					option Sun Bear
					option Polar Bear
					option Spectacled Bear
			div
				em Multiple Select
				select.chosen-select-width(data-placeholder='Your Favorite Types of Bear', multiple='', tabindex='16')
					option(value='')
					option American Black Bear
					option Asiatic Black Bear
					option Brown Bear
					option(selected='') Giant Panda
					option Sloth Bear
					option Sun Bear
					option Polar Bear
					option Spectacled Bear
		h2
			a.anchor(name='labels-work-too', href='#labels-work-too') Labels work, too
		.side-by-side.clearfix
			p Use labels just like you would a standard select
			p
			div
				em
					label(for='single-label-example') Click to Highlight Single Select
				select#single-label-example.chosen-select(data-placeholder='Your Favorite Types of Bear', tabindex='17')
					option(value='')
					option(selected='') American Black Bear
					option Asiatic Black Bear
					option Brown Bear
					option Giant Panda
					option Sloth Bear
					option Sun Bear
					option Polar Bear
					option Spectacled Bear
			div
				em
					label(for='multiple-label-example') Click to Highlight Multiple Select
				select#multiple-label-example.chosen-select(data-placeholder='Your Favorite Types of Bear', multiple='', tabindex='18')
					option(value='')
					option American Black Bear
					option Asiatic Black Bear
					option Brown Bear
					option(selected='') Giant Panda
					option Sloth Bear
					option Sun Bear
					option Polar Bear
					option Spectacled Bear
		h2
			a.anchor(name='setup', href='#setup') Setup
		p Using Chosen is easy as can be.
		ol
			li
				a(href='https://github.com/harvesthq/chosen/releases') Download
				|  the plugin and copy the chosen files to your app.
			li
				| Activate the plugin on the select boxes of your choice: 
				code.language-javascript $(".chosen-select").chosen()
			li
				a(href='http://www.youtube.com/watch?feature=player_detailpage&v=UkSPUDpe0U8#t=11s') Disco
				| .
		h2
			a.anchor(name='faqs', href='#faqs') FAQs
		ul.faqs
			li
				h3 Do you have all the available options documented somewhere?
				p
					| Yes! You can find them on 
					a(href='options.html') the options page
					| .
			li
				h3 Something doesn't work. Can you fix it?
				p
					| Yes! Please report all issues using the 
					a(href='http://github.com/harvesthq/chosen/issues') GitHub issue tracking tool
					| . Please include the plugin version (jQuery or Prototype), browser and OS. The more information provided, the easier it is to fix a problem.
			li
				h3 What browsers are supported?
				p
					| All modern desktop browsers are supported (Firefox, Chrome, Safari and IE9). Legacy support for IE8 is also enabled. Chosen is disabled on iPhone, iPod Touch, and Android mobile devices (
					a(href='https://github.com/harvesthq/chosen/pull/1388') more information
					| ).
			li
				h3 Didn't there used to be a Prototype version of Chosen?
				p
					a(href='index.proto.html') There still is!
		h2
			a.anchor(name='credits', href='#credits') Credits
		ul.credits
			li
				| Concept and development by 
				a(href='http://patrickfiller.com') Patrick Filler
				|  for 
				a(href='https://getharvest.com') Harvest
				| .
			li
				| Design and CSS by 
				a(href='http://matthewlettini.com') Matthew Lettini
				| .
			li
				| Repository maintained by 
				a(href='https://github.com/pfiller') @pfiller
				| , 
				a(href='https://github.com/kenearley') @kenearley
				| , 
				a(href='https://github.com/stof') @stof
				| , 
				a(href='https://github.com/koenpunt') @koenpunt
				| , and 
				a(href='https://github.com/tjschuck') @tjschuck
				| .
			li
				| Chosen includes 
				a(href='https://github.com/harvesthq/chosen/contributors') contributions by many fine folks
				| .
		footer
			| © 2011–2016 
			a(href='http://www.getharvest.com/') Harvest
			| . Chosen is licensed under the 
			a(href='https://github.com/harvesthq/chosen/blob/master/LICENSE.md') MIT license
			| .
