.product__filter
	form#bad_filter.input__wrapper.input__wrapper--radio
		input.input.input--radio(type="radio", name="type", value="bad" id="bad", checked)
		label.input__label(for="bad")
			| БАД
		input.input.input--radio(type="radio", name="type", value="all" id="all")
		label.input__label(for="all")
			| Продуктовые