
.category{
	background-color: var(--gray_f4f);
	border-radius: calc(2*var(--input-rad));
	overflow:  hidden;
	box-shadow:  0 1px 3px 0 color(#3b020a alpha(20%));
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	justify-content: space-between;
	padding: 20px;
	width: 100%;
	margin-bottom: 8px;
	min-height: 200px;
	position: relative;
	bottom: 0px;
	transition: bottom 0.3s,
				box-shadow 0.3s;
	@media (width>590px){
		max-width: 255px;
		margin-bottom: 30px;					 
		&:hover{
			bottom: 10px;
			box-shadow:  0 12px 36px 0 color(#3b020a alpha(25%));
			& .category__title{
				color: var(--red_ca1);
			}
		}
	}		
	@media (width>1160px){

	}
	@supports(display: grid){
		margin: initial;
		justify-self: center;
		@media (width>590px){

		}			
		@media (width>1160px){
			 				 
		}		
	}			
}

