
.aside__item{
	float: right;
	width: 250px;
	margin-right: -300px;
	display: none;
	color: var(--gray_222);
	@media (--medium-viewport){
		display: initial;	
	}
	@media (--large-viewport){
		
	}		
}

