
.section--about{
	font-size: 12px;
	text-align: center;
	margin-bottom: 30px;
	& > .wrapper{
		& > :--all-headers{
			&:first-child{
				margin-bottom: 5px;
			}
		}
		& > p{
			max-width: 550px;
			margin-left: auto;
			margin-right: auto;
			margin-bottom: 50px;
			&.text--rubik{
				max-width: 750px;
				margin-bottom: 35px;
			}		
		}
	}
	& .text--rubik{
		font-size: 16px;	
	}
	@media(--medium-viewport){
		font-size: 14px;	
		margin-bottom: 60px;
		& .text--rubik{
			font-size: 18px;	
		}
	}
	@media(--large-viewport){
		& .text--rubik{
			font-size: 22px;	
		}
	}
}

