
.header__logo{
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: flex-start;
	position: relative;
	z-index: 1;
	margin-right: 20px;
	& .logo__text{
		color: var(--gray_565);
	}
	& .logo__text{
		padding-top: 10px;
		padding-bottom: 4px;
	}
	& .logo__text--title{
	
	}
	& .logo__text--subtitle{
		display: none;
		font-size: 14px;
	}
	& .icon--logo-text{
		fill: var(--gray_565);
	}
	& .link{
		display: flex;
		flex-direction: row;
		align-items: center;
		justify-content: flex-start;
	}
	& .logo__pic{
		width: 48px;
		background-image: url('../images/logo.png');
		background-position: center;
		background-repeat: no-repeat;
		background-size: contain;
		margin-right: 6px;
		&::before{
			content: '';
			display: block;
			padding-bottom: 72.29%;
		}
	}	
	@media (--medium-viewport){
		& .logo__text{
			padding-top: 3px;
			padding-bottom: 2px;
		}						
		& .logo__text--subtitle{
			display: block;
		}
		& .logo__pic{
			width: 62px;
			margin-right: 18px;
		}								
	}	
	@media (--large-viewport){
		& .logo__pic{
			width: 83px;
		}		
		& .logo__text--title{
	
		}			
		& .logo__text--subtitle{

		}					
	}	
}

