
.product{
	width: 100%;
	max-width: 345px;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	justify-content: flex-start;
	margin-bottom: 80px;
	&:not(.product--open){
		& .product__title{
			font-size: 14px;
		}
	}
	@media (--medium-viewport){
				 	 
	}
	@media (--large-viewport){
				 	 
	}	
	@supports(display: grid){
		margin-bottom: initial;
		justify-self: center;
		@media (--medium-viewport){

		}
		@media (--large-viewport){

		}
	}
}

