
.blog{
	padding-bottom: 60px;
	& :--all-headers{
		font-family: Roboto, Rubik, sans-serif;
		font-weight: var(--fw-bold);
		color: var(--gray_3a3);
	}
	@media (--medium-viewport){
		
	}
	@media (--large-viewport){
		
	}		
}

