
.blog{
	padding-bottom: 60px;
	max-width: 920px;
	margin-left: auto;
	margin-right: auto;
	color: var(--gray_3a3);
	font-size: 14px;
	line-height: 1.4;
	& :matches(strong, b){
		font-family: Roboto, Rubik, sans-serif;
		font-size: 18px;
	}
	& :--all-headers{
		color: var(--gray_222);
	}	
	& .text--compact{
		color: var(--gray_575);
	}
	& > ul{
		list-style: none;
		padding-left: 16px;
		& > li{
			&::before{
				content: '';
				display: inline-block;
				width: 6px;
				height: 6px;
				margin-left: -18px;
				margin-right: 10px;
				vertical-align: middle;
				background-color: var(--red_c11);
				border-radius: 50%;
			}
		}
	}	
	@media (--medium-viewport){
		
	}
	@media (--large-viewport){
		
	}		
}

