
.blog{
	padding-bottom: 60px;
	max-width: 920px;
	margin-left: auto;
	margin-right: auto;
	color: var(--gray_3a3);
	& :matches(strong, b){
		font-family: Roboto, Rubik, sans-serif;
		font-size: 18px;
	}
	& :--all-headers{
		color: var(--gray_222);
	}	
	& .text--compact{
		color: var(--gray_575);
	}
	@media (--medium-viewport){
		
	}
	@media (--large-viewport){
		
	}		
}

