
nav.header__nav{
	height: 100%;
	overflow-x: hidden;
	& > .wrapper{
		height:  100%;
		padding-left: 0;
		padding-right: 0;
		max-width: 1240px;
	}
	@media (--medium-viewport){
		&.nav--open{
			/*header--menu-open.css*/						
		}					
	}
	@media (--large-viewport){
		overflow-x: initial;						
		& > .wrapper{
			margin-top: 21px;
			display: flex;
			flex-direction: row;
			align-items: stretch;
			justify-content: center;
			position: relative;
			z-index: 1;
			padding-left: 50px;
			padding-right: 50px;
			height: initial;
			&::before{
				content:  '';
				display: block;
				position: absolute;
				top: 0;
				left: 0;
				z-index: -1;
				width: 100%;
				height: 100%;
				background: var(--grad-main);
				border-top-left-radius: var(--menu-rad);
				overflow: hidden; 
				border-bottom-right-radius: var(--menu-rad);
			}
		}			
		&.nav--open{
			/*header--menu-open.css*/											
		}						
	}
}

