
.page{ 
	display: flex; /*fix бага ie11 с min-height:100%*/
	flex-direction: column;
	align-items: stretch;
	justify-content: flex-start;
	position: relative;
	z-index: 1;
	&::before{
		content: '';
		display: block;
		position: fixed;
		z-index: -1;
		left: 0;
		top: 0;
		width: 100%;
		height: 100%;
		background: radial-gradient(ellipse at center, color(#ffffff alpha(100%)) 0%, color(#ffffff alpha(50%)) 50%, color(#edc40d alpha(10%)) 100%);
	}
	&.scroll--locked{
		height: 100vh;
		overflow: hidden;
	}
	@media (--medium-viewport){
					
	}
	@media (--large-viewport){
		&.scroll--locked{
			height: initial;
			overflow: initial;
		}		
	}	
}
