
.section--slider-front{
	display: flex;
	align-items: stretch;
	min-height: 350px;
	overflow:  visible;	
	&::before{
		content:  '';
		display: inline-block;
		padding-top: 36.403%;
		width: 0px;
		float: left;
	}
	& .section__content{
		position: relative;
		width: 100%;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: flex-end;
	}	
}

@-moz-document url-prefix() {
	.section--slider-front{
		display: block;
		height: 100%;
	}
	.section--slider-front .section__content{
		height: 100%;
	}
}