
.section--slider-front{
	display: flex;
	align-items: stretch;
	min-height: 350px;
	overflow:  visible;	
	margin-bottom: 50px;
	& .section__content{
		position: relative;
		width: 100%;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: flex-end;
	}
	@media (--medium-viewport){
		margin-bottom: 60px; 
	}	
	@media (--large-viewport){

	}		
}