include ./mixins.pug
doctype html
html(lang="ru")
	include partials/head.pug
	body.page
		.page__body
			+header()
			main.main.page__main
				section.section.section--wide.section--half-rounded.section--page-title
					img.img(src="../images/about-bg.jpg", alt="", data-bg="true")
					.section__content
						.page__wrapper
							h1.text--normal
								| О компании
				.wrapper.page__wrapper
					.blog.blog--with-aside
						.aside__item 
							img.img(src="../images/iso.png", alt="", width="160")
							p
								| Вся наша продукция самого высокого качества и имеет соответствующие сертификаты. Мы предлагаем Вам только продукцию, зарекомендовавшую себя действительно как эффективную, безопасную и полезную.
						strong
							| ООО «Авилор» было основано в 2014 году. Основной деятельностью компании является производство и поставка на фармацевтический и продовольственный рынки продуктов здорового питания и биологически активных добавок к пище, обогащенных витаминами. В ассортименте продуктов, которые предлагает ООО «Авилор», можно увидеть леденцовую карамель в различных формах, батончики мюсли с разнообразными вкусами и фруктовую жевательную резинку без сахара. 
						p
							| ООО «Авилор» имеет собственную производственную площадку в городе Егорьевске Московской области. Производство сертифицировано по стандарту ГОСТ Р ИСО 22000-2007 (ISO 22000-2005). Данный сертификат дает возможность изготавливать продукцию под собственными торговыми марками для торговых фармацевтических и продовольственных сетей.
						p
							| Нашими партнерами на протяжении многих лет являются крупные розничные и аптечные сети, региональные дистрибьюторы, предприятия сферы общественного питания. Продукцию давно знают и ценят жители многих регионов России от Калининграда до Владивостока. С некоторыми контрагентами заключены договоры СТМ.
						p
							| В последние годы компания активно сотрудничает с федеральными телеканалами «РОССИЯ 1», «СТС», «Домашний», в результате чего появились совместные проекты, которые позволили расширить ассортимент.
						p
							| Мы создаем вкусный и полезный продукт, руководствуясь чёткими принципами:
						ul
							li
								| отсутствие в составе ароматизаторов, консервантов и ГМО;
							li
								| обеспечение высокого качества по приемлемой цене благодаря работе с сырьем российского производства;
							li
								| контроль продукции на каждом этапе производства: от закупки сырья до момента отгрузки готового товара;
							li
								| постоянное расширение ассортимента.
						p
							strong
								| Миссия нашей организации — обеспечить запросы покупателей доступной и качественной продукцией.  
			include partials/footer.pug
