include ./mixins.pug
doctype html
html(lang="ru")
	head
		title Avilor
		link(rel="stylesheet", href="../css/style.css")
		link(rel="shortcut icon", type="image/png", href="../images/favicon.png")
		meta(charset='utf-8')
		meta(name="viewport", content="minimal-ui, width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no")
		meta(name="mobile-web-app-capable", content="yes")
		meta(name="apple-mobile-web-app-capable", content="yes")
		if config.images.generateSpritePng
			link(rel="stylesheet", href="../css/sprite.css")
		script(src="../js/vendors/svg4everybody.min.js")
	body.page
		.page__body
			include partials/header.pug
			main.main.page__main
				section.section.section--wide.section--half-rounded.section--page-title
					img.img(src="../images/about-bg.jpg", alt="", data-bg="true")
					.section__content.page__wrapper
						h1.text--normal
							| О компании
				.wrapper.page__wrapper
					.blog.blog--with-aside
						.aside__item 
							img.img(src="../images/product_goda_2014_zoloto.png", alt="", width="135")
							p
								| Вся наша продукция самого высокого качества и имеет соответствующие сертификаты. Мы предлагаем Вам только продукцию, зарекомендовавшую себя действительно как эффективную, безопасную и полезную.
						h5
							| ООО «Авилор» был основан в 1992 году. Начиная с 2003 года компания производит и поставляет на рынок продукты здорового питания, основная часть которого — вкусные и полезные батончики мюсли, а также имитированная икра на основе морских водорослей. Продукция, которую мы создаем, является достойной альтернативой вредным «перекусам», которых, к сожалению, не избежать в современном динамичном мире.
						p
							| Нашими партнерами на протяжении многих лет являются крупные розничные и аптечные сети, региональные дистрибьюторы, предприятия сферы общественного питания. Продукцию давно знают и ценят жители многих регионов России от Калининграда до Владивостока. С некоторыми контрагентами заключены договоры СТМ.
						p
							| В последние годы  активно сотрудничает с федеральными телеканалами «РОССИЯ 1», «СТС», «Домашний», в результате чего появились совместные проекты, которые позволили расширить ассортимент.
						p
							| Мы создаем вкусный и полезный продукт, руководствуясь чёткими принципами:
						ul.list--hyphens
							li
								| отсутствие в составе ароматизаторов, консервантов и ГМО;
							li
								| обеспечение высокого качества по приемлемой цене благодаря работе с сырьем российского производства;
							li
								| контроль продукции на каждом этапе производства: от закупки сырья до момента отгрузки готового товара;
							li
								| постоянное расширение ассортимента.
						p
							| Высокое качество, натуральность и польза наших батончиков подтверждена не только соответствующими сертификатами, но и многочисленными наградами. Среди них национальная премия «Здоровое Питание», знак качества «Лучшее-детям», золотые медали Министерства сельского хозяйства РФ, а также множество других федеральных и региональных наград.
						p
							| Миссия нашей организации – обеспечить доступной и качественной продукцией 
			include partials/footer.pug
