include ./mixins.pug
doctype html
html(lang="ru")
	include partials/head.pug
	body.page
		.page__body
			+header()
			main.main.page__main
				.wrapper.page__wrapper
					h1.text--center.text--normal
						| Каталог
					p.text--compact-center
						| Компания работает на рынке здорового питания с 1996 года. Основными направлениями деятельности фирмы являются производство и оптовая продажа полного ассортимента диетических и диабетических продуктов питания.
					br
					br
					.text--center
						.category__wrapper.category__wrapper--wide
							a.link.category.category--wide(href="#")
								.category__title
									| Леденцы
								.category__pic
									img.img(src="../images/cat-1-wide.png", alt="" data-bg="true")
							a.link.category.category--wide(href="#")
								.category__title
									| Жвачка
								.category__pic
									img.img(src="../images/cat-2-wide.png", alt="" data-bg="true")
							a.link.category.category--wide(href="#")
								.category__title
									| Батончики
								.category__pic
									img.img(src="../images/cat-3-wide.png", alt="" data-bg="true")
							a.link.category.category--wide(href="#")
								.category__title
									| СТ
								.category__pic
									img.img(src="../images/cat-4-wide.png", alt="" data-bg="true")
			include partials/footer.pug