include ./mixins.pug
doctype html
html(lang="ru")
	head
		title Avilor
		link(rel="stylesheet", href="../css/style.css")
		link(rel="shortcut icon", type="image/png", href="../images/favicon.png")
		meta(charset='utf-8')
		meta(name="viewport", content="minimal-ui, width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no")
		meta(name="mobile-web-app-capable", content="yes")
		meta(name="apple-mobile-web-app-capable", content="yes")
		if config.images.generateSpritePng
			link(rel="stylesheet", href="../css/sprite.css")
		script(src="../js/vendors/svg4everybody.min.js")
	body.page
		.page__body
			include partials/header.pug
			main.main.page__main
				section.section.section--wide.section--half-rounded.section--slider-front
					.section__content
						.slider.slider--front-pics
							.swiper-container
								.swiper-wrapper
									.swiper-slide 
										img.slider__img(src="../images/slide-1.jpg", alt="slide-1", data-bg="true")
									.swiper-slide 
										img.slider__img(src="../images/slide-2.jpg", alt="slide-2", data-bg="true")
									.swiper-slide 
										img.slider__img(src="../images/slide-3.jpg", alt="slide-3", data-bg="true")
									.swiper-slide 
										img.slider__img(src="../images/slide-4.jpg", alt="slide-4", data-bg="true")
						.slider.slider--front-text
							.swiper-container
								.swiper-wrapper
									.swiper-slide 
										h5
											| СТМ «Азбука эдоровья»
										p
											| Леденцы изготовленные по стариным рецептам на основе трав с витамином «С» lorem
									.swiper-slide 
										h5
											| СТМ «Азбука эдоровья»
										p
											| Леденцы изготовленные по стариным рецептам на основе трав с витамином «С»
									.swiper-slide 
										h5
											| СТМ «Азбука эдоровья»
										p
											| Леденцы изготовленные по стариным рецептам на основе трав с витамином «С»
									.swiper-slide 
										h5
											| СТМ «Азбука эдоровья»
										p
											| Леденцы изготовленные по стариным рецептам на основе трав с витамином «С»
								.swiper-pagination
							.swiper-button-prev
							.swiper-button-next
				section.section.section--fruits
					.parallax__layer(data-rellax-speed="5")
					.parallax__layer(data-rellax-speed="2")
					.parallax__layer(data-rellax-speed="4")
					.wrapper.page__wrapper
						h2.text--center
							| Наши продукты
						.text--center
							.category__wrapper
								a.link.category(href="#")
									.category__title
										| Леденцы
									.category__pic
										img.img(src="../images/cat-1.png", alt="" data-bg="true")
								a.link.category(href="#")
									.category__title
										| Жвачка
									.category__pic
										img.img(src="../images/cat-2.png", alt="" data-bg="true")
								a.link.category(href="#")
									.category__title
										| Батончики
									.category__pic
										img.img(src="../images/cat-3.png", alt="" data-bg="true")
								a.link.category(href="#")
									.category__title
										| СТ
									.category__pic
										img.img(src="../images/cat-4.png", alt="" data-bg="true")
							.trademark__text
								p
									| Ассортимент продукции компании Авилор обширен и достаточен для удовлетворения потребностей любой категории потребителей
							.trademark__wrapper
								.trademark
									.trademark__pic
										img.img(src="../images/tm-1.png", alt="", data-bg="false")
								.trademark
									.trademark__pic
										img.img(src="../images/tm-2.png", alt="", data-bg="false")
								.trademark
									.trademark__pic
										img.img(src="../images/tm-3.png", alt="", data-bg="false")
								.trademark
									.trademark__pic
										img.img(src="../images/tm-4.png", alt="", data-bg="false")
				section.section.section--wide.section--rounded.section--fabrication
					.wrapper.page__wrapper.text--center
						h2
							| Производство и поставка Собственных Торговых Марок
						p
							| Наша компания — это надежный производитель и поставщик здорового питания для продуктовых магазинов и аптек под брендами Собственных Торговых Марок.
						.fabrication__wrapper
							.fabrication__item
								.item__pic
									img.img(src="../images/fabrication-1.jpg", alt="", data-bg="true")
									.item__icon
										svg.icon.icon--active.icon--cart
											use(xlink:href="../images/sprite.svg#cart")
								.item__excerpt
									| Производитель и поставщик продуктов для здорового и диетического питания
							.fabrication__item
								.item__pic
									img.img(src="../images/fabrication-2.jpg", alt="", data-bg="true")
									.item__icon
										svg.icon.icon--active.icon--medicine
											use(xlink:href="../images/sprite.svg#medicine")
								.item__excerpt
									| Продукция «Авилор» имеет статус биологически активной добавки с подтверждающими Свидетельствами о государственной регистрации. Эти позиции доступны для реализации через аптечные сети и специализированные магазины.
				section.section.section--about
					.wrapper.page__wrapper
						h2.text--rubric.text--center
							| «Авилор»
						p.text--rubik
							| Компания работает на рынке здорового питания с 2015 года. Основными направлениями деятельности фирмы являются производство и оптовая продажа широкого ассортимента продуктов здорового и диетического питания.
						p
							| Сегодня прайс-лист компании насчитывает множество категорий товаров с различными видами и вкусами продукции. География продаж включает практически все регионы России. За время работы ООО Авилор приобрела имидж и авторитет поставщика высококачественной продукции. Фирма имеет постоянных партнёров во многих крупных городах России.
						a.btn.btn--clr.btn--grad(href="#")
							| О компании
				section.section.section--partners
					.wrapper.page__wrapper
						.partner__wrapper
							.partner
								.partner__pic
									img.img(src="../images/partner-1.png", alt="", data-bg="false")
							.partner
								.partner__pic
									img.img(src="../images/partner-2.png", alt="", data-bg="false")
							.partner
								.partner__pic
									img.img(src="../images/partner-3.png", alt="", data-bg="false")
							.partner
								.partner__pic
									img.img(src="../images/partner-4.png", alt="", data-bg="false")
			include partials/footer.pug
