include ./mixins.pug
doctype html
html(lang="ru")
	head
		title Avilor
		link(rel="stylesheet", href="../css/style.css")
		link(rel="shortcut icon", type="image/png", href="../images/favicon.png")
		meta(charset='utf-8')
		meta(name="viewport", content="minimal-ui, width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no")
		meta(name="mobile-web-app-capable", content="yes")
		meta(name="apple-mobile-web-app-capable", content="yes")
		if config.images.generateSpritePng
			link(rel="stylesheet", href="../css/sprite.css")
		script(src="../js/vendors/svg4everybody.min.js")
	body.page
		.page__body
			include partials/header.pug
			main.main.page__main
				section.section--wide.section--half-rounded.section--slider-front
					//-+picture({src:'slide-1.jpg', alt: 'slide-1', class:'img--section-bg', quality: 100, data:{'data-bg':'true'}})
					.section__content
						.slider.slider--front-pics
							.swiper-container
								.swiper-wrapper
									.swiper-slide 
										img.slider__img(src="../images/slide-1.jpg", alt="slide-1", data-bg="true")
									.swiper-slide 
										img.slider__img(src="../images/slide-2.jpg", alt="slide-2", data-bg="true")
									.swiper-slide 
										img.slider__img(src="../images/slide-3.jpg", alt="slide-3", data-bg="true")
									.swiper-slide 
										img.slider__img(src="../images/slide-4.jpg", alt="slide-4", data-bg="true")
						.slider.slider--front-text
							.swiper-container
								.swiper-wrapper
									.swiper-slide 
										h5
											| СТМ «Азбука эдоровья»
										p
											| Леденцы изготовленные по стариным рецептам на основе трав с ситамином «С» lorem
									.swiper-slide 
										h5
											| СТМ «Азбука эдоровья»
										p
											| Леденцы изготовленные по стариным рецептам на основе трав с ситамином «С»
									.swiper-slide 
										h5
											| СТМ «Азбука эдоровья»
										p
											| Леденцы изготовленные по стариным рецептам на основе трав с ситамином «С»
									.swiper-slide 
										h5
											| СТМ «Азбука эдоровья»
										p
											| Леденцы изготовленные по стариным рецептам на основе трав с ситамином «С»
								.swiper-pagination
							.swiper-button-prev
							.swiper-button-next
				.wrapper.page__wrapper
					h1.text--center
						| Наши продукты
					.text--center
						.category__wrapper
							a.link.category(href="#")
								.category__title
									| Леденцы
								.category__pic
									img.img(src="../images/cat-1.png", alt="" data-bg="true")
							a.link.category(href="#")
								.category__title
									| Жвачка
								.category__pic
									img.img(src="../images/cat-2.png", alt="" data-bg="true")
							a.link.category(href="#")
								.category__title
									| Батончики
								.category__pic
									img.img(src="../images/cat-3.png", alt="" data-bg="true")
							a.link.category(href="#")
								.category__title
									| СТ
								.category__pic
									img.img(src="../images/cat-4.png", alt="" data-bg="true")
						.trademark__text
							p
								| Ассортимент продукции компании Авилор обширен и достаточен для удовлетворения потребностей любой категории потребителей
						.trademark__wrapper
							.trademark
								.trademark__pic
									img.img(src="../images/tm-1.png", alt="", data-bg="false")
							.trademark
								.trademark__pic
									img.img(src="../images/tm-2.png", alt="", data-bg="false")
							.trademark
								.trademark__pic
									img.img(src="../images/tm-3.png", alt="", data-bg="false")
							.trademark
								.trademark__pic
									img.img(src="../images/tm-4.png", alt="", data-bg="false")
					p
						|  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quibusdam quaerat sapiente atque, et ad, obcaecati! Cum obcaecati dicta voluptas asperiores, blanditiis possimus molestias, aperiam minima ex labore fuga rerum rem. Lorem ipsum dolor sit amet, consectetur adipisicing elit. 
				//-include partials/test.pug
				//-include partials/chosen.pug
			include partials/footer.pug
		script(src="../js/vendors/stickyfill.min.js")
		script(src="../js/vendors/jquery-3.2.1.min.js")
		script(src="../js/vendors/chosen.jquery.min.js")
		script(src="../js/vendors/swiper.min.js")
		script(src="../js/app.js")
