include ./mixins.pug
doctype html
html(lang="ru")
	include partials/head.pug
	body.page
		.page__body
			+header()
			main.main.page__main
					.wrapper.page__wrapper
						ul.list.list--clr
							li.list__item
								a(href="front.html")
									| front page  
							li.list__item
								a(href="catalog.html")
									| catalog page  
							li.list__item
								a(href="category.html")
									| category page  
							li.list__item
								a(href="stm.html")
									| stm page  
							li.list__item
								a(href="inner.html")
									| inner page  
							li.list__item
								a(href="about.html")
									| about page  
							li.list__item
								a(href="item.html")
									| item page 
			include partials/footer.pug
