include ./mixins.pug
doctype html
html(lang="ru")
	include partials/head.pug
	body.page
		.page__body
			+header()
			main.main.page__main
				section.section.section--wide.section--half-rounded.section--page-title
					img.img(src="../images/inner-bg.jpg", alt="", data-bg="true")
					.section__content
						.page__wrapper
							h1.text--normal
								| Продукция БАД
				.wrapper.page__wrapper
					.blog.blog--with-aside
						.aside__item 
							svg.icon.icon--active.icon--medicine
								use(xlink:href="../images/sprite.svg#medicine")
							p
								| Вся наша продукция имеет сертификацию БАД и подходит для фармацевтического рынка
							br
							br
							.flex--iefix
								a.link.category.category--wide(href="#")
									.category__title
										| Продукция БАД 
									.category__pic
										img.img(src="../images/cat-5-wide.png", alt="" data-bg="true")
						strong
							| Для обозначения второго направления разработана система экологической маркировки. За рубежом к этой группе часто относится только непищевая продукция. Но круг товаров, который можно подобным образом сертифицировать, крайне широк – от матрасов и компьютеров до железных дорог и гостиниц.
						p
							| ECO, BIO или Organic - продукты - все это разные термины, обозначающие единое явление: продукты питания, выращенные, собранные, переработанные, упакованные в соответствие с Эко- стандартами, принятыми в Европе. Разные страны применяют разные слова. Так например англоязычное население употребляет слово organic, немцы и скандинавы предпочитают Био, а франкоязычные страны употребляют слово Эко. Термины могут быть разными, но их значение одно: такие продукты натуральны безопасны и невероятно питательны.
						p
							| Мы делаем всё для того, чтобы наши фруктово-злаковые батончики ежедневно приносили Вам пользу!
						.gallery__wrapper
							.gallery__item
								a.item__pic(href="../images/certificate-1.jpg", data-lightbox="docs")
									img.img(src="../images/certificate-1.jpg", alt="")
								.item__exerpt
									a(href="#")
										| Декларация соответствия на биодобавку БАД
									div
										| (PDF, 128 Кб)
							.gallery__item
								a.item__pic(href="../images/certificate-2.jpg", data-lightbox="docs")
									img.img(src="../images/certificate-2.jpg", alt="")
								.item__exerpt
									a(href="#")
										| Свидетельство о государственной регистрации лекарственного препарата  биодобавки БАД 
									div
										| (PDF, 128 Кб)
							.gallery__item
								a.item__pic(href="../images/certificate-3.jpg", data-lightbox="docs")
									img.img(src="../images/certificate-3.jpg", alt="")
								.item__exerpt
									a(href="#")
										| Декларация соответствия на биодобавку БАД
									div
										| (PDF, 128 Кб)
			include partials/footer.pug
