include ./mixins.pug
doctype html
html(lang="ru")
	include partials/head.pug
	body.page.page--product-open
		.page__body
			+header()
			main.main.page__main
				.wrapper.page__wrapper
				.modal.modal--open.product__modal
					.wrapper.page__wrapper
						.blog.blog--wide
							.text--right
								button.btn.btn--clr.product__btn
									svg.icon.icon--active.icon--close
										use(xlink:href="../images/sprite.svg#close")
							.product.product--open
								.text--center
									h4.product__title
										| Малиново-брусничный, батончик мюсли в йогуртовой глазури
									.product__barcode
										| Штрих-код: 8585004500203
								.product__pic
									img.img(src="../images/product-2-single.png", alt="" data-bg="false")
								.product__excerpt
									h6
										| Состав:
									p
										| йогуртовая глазурь (сахар, масло растительное, йогурт сухой, сухая молочная сыворотка, молоко сухое обезжиренное, лецитин, натуральный ароматизатор йогурта, лимонная кислота), абрикосовое пюре, вытяжки зерновых культур (кукуруза, пшеница, рис), сахар, курага, мед, йогуртовый порошок, растительный жир, сироп глюкозы, овсяные и пшеничные хлопья, мальтодекстрин.
									h6
										| Пищевая ценность на 100 г:
									p
										| белки – 5,4 г; жиры – 19,5 г; углеводы – 67;
									h6
										| Энергетическая ценность на 100 г:
									p
										| 340 ккал (1445 кДж/калл)
									h6
										| Упаковка:
									p
										| Шоубокс – 32шт, 0,96 кг
										br
										| Гофрокороб – 192 шт, 27,84 кг
									h6
										| Срок годности и условия хранения:
									p
										| 12 месяцев
										br
										| Хранить в сухом месте при температуре не выше 25 °С.
			include partials/footer.pug