
.footer__info{
	width: 100%;
	text-align: center;
	margin-right: auto;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: flex-start;
	& .info__phone{
		font-size: 24px;
		font-weight: var(--fw-medium);
	}
	& .info__email{
		opacity: 0.75;
		margin-bottom: 18px;
		text-decoration: underline;
		display: block;
	}
	& .info__adress{
		line-height: 22px;
		& span{
			display: block;
		}
	}
	@media (--medium-viewport){
		width: initial;
		text-align: left;
		align-items: flex-start;
	}
	@media (--large-viewport){
		margin-right: initial;
	}		
}

