
.section--fabrication{
	background: var(--purple_af0);
	color: var(--white);
	font-size: 14px;
	font-family: Rubik, Roboto, sans-serif;
	padding-top: 80px;
	padding-bottom: 50px;
	margin-bottom: 60px;
	background-image: url('../images/bg-waves.jpg');
	& > .wrapper{
		& > :--all-headers{
			max-width: 550px;
			margin-left: auto;
			margin-right: auto;
			&:first-child{
				margin-top: 0;
			}
		}
		& > p{
			max-width: 660px;
			margin-left: auto;
			margin-right: auto;
			margin-bottom: 40px;
		}		
	}
	@media (--medium-viewport){
		font-size: 18px;
		margin-bottom: 90px;
	}
	@media (--large-viewport){
		font-size: 22px;
		margin-bottom: 80px;
	}
	@supports(display: grid){
		padding-bottom: 80px;
		@media (--medium-viewport){

		}
		@media (--large-viewport){

		}		
	}		
}

