
.slider--front-pics{
	width: 100%;
	height: 100%;
	border-radius: var(--menu-rad) 0 var(--menu-rad) 0;
	overflow: hidden;
	&::before{
		content: '';
		display: inline-block;
		padding-top: 31.579%;
		width: 0;
		float: left;
	}
	& .swiper-container{
		width: 100%;
		height: 100%;
	}
	& .swiper-slide{
		background-position: center;
		background-repeat: no-repeat;
		background-size: cover;
		&:first-of-type{
			border-radius: var(--menu-rad) 0 0 0;		
		}
		&:last-of-type{
			border-radius: 0 0 var(--menu-rad) 0;		
		}
	}
	@media (width<1540px){
		border-radius: 0px;
		& .swiper-slide{
			&:matches(:first-of-type, :last-of-type){
				border-radius: 0;		
			}
		}		
	}	
}

@supports (-ms-ime-align:auto) {
	.slider--front-pics{
		position: relative;
	}
	.slider--front-pics .swiper-container{
		position: absolute;
		top: 0;
		left: 0;
	}
}