
.slider--front-pics{
	width: 100%;
	height: 100%;
	border-radius: var(--menu-rad) 0 var(--menu-rad) 0;
	overflow: hidden;
	& .swiper-container{
		width: 100%;
		height: 100%;
	}
	& .swiper-slide{
		background-position: center;
		background-repeat: no-repeat;
		background-size: cover;
	}
	@media (width<1540px){
		border-radius: 0px;
	}	
}

