
.header--menu-open{
	height: 100vh;
	& .header__menu{
		display: block;
	}	
	& .header__menu-btn{			
		& .icon{
			fill:  transparent;
			color: var(--red_ca1);
		}
	}	
	@media (--medium-viewport){
		height: initial;
		& nav.header__nav{
			background: color(#000000 alpha(65%));
			position: fixed;
			top: 0;
			left: 0;
			width: 100%;
			height: 100vh;
			z-index: 6;							
		}					
	}	
	@media (--large-viewport){
		& nav.header__nav{
			background: initial;
			position: initial;
			top: initial;
			left: initial;
			width: initial;
			height: initial;
			z-index: initial;										
		}					
	}
}

