
.input__wrapper{
	display: inline-flex;
	flex-direction: row;
	align-items: center;
	justify-content: flex-start;
	flex-wrap: nowrap;
	vertical-align: top;
	border:  1px solid;
	border-color: var(--gray_d8d);	
	margin-bottom: 1em;
	margin-right: 1em;
	background-color: var(--white);
	& .icon__wrapper{
		min-width: var(--input-min-height);
		min-height: var(--input-min-height);
		position: relative;
		& .icon{
			position: absolute;
			top:  50%;
			left:  50%;
			transform: translateX(-50%) translateY(-50%);
			fill:  var(--gray_565);
		}
		& .icon--search{
			left: 42%;
		}
	}
	& .input{
		border: none;
		margin-bottom: 0;
		margin-right: 0;
		background-color: transparent;
	}
}

