
.slider{
	& .swiper-pagination-bullet{
		opacity: 1;
		background-color: var(--gray_ded);
	}
	& .swiper-pagination-bullet-active{
		background-color: var(--red_c11);
	}
	& .swiper-button-prev, 
	& .swiper-button-next{
		width: 22px;
		height: 44px;
		background-size: 24px 25px;
		margin-top: 0;
		transform: translateY(-50%);
		&.swiper-button-disabled{
			opacity: 0.5;
		}
	}
	& .swiper-button-prev{
		background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0iVVRGLTgiPz4NCjxzdmcgZW5hYmxlLWJhY2tncm91bmQ9Im5ldyAtMjUzIDU1LjEgNDUxLjkgNDUxLjkiIHZlcnNpb249IjEuMSIgdmlld0JveD0iLTI1MyA1NS4xIDQ1MS45IDQ1MS45IiB4bWw6c3BhY2U9InByZXNlcnZlIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciPg0KCTxwYXRoIGQ9Im0tMTU1LjkgMjgxLjFjMC04LjEgMy4xLTE2LjIgOS4zLTIyLjRsMTk0LjMtMTk0LjNjMTIuNC0xMi40IDMyLjQtMTIuNCA0NC44IDBzMTIuNCAzMi40IDAgNDQuN2wtMTcyIDE3MiAxNzEuOSAxNzEuOWMxMi40IDEyLjQgMTIuNCAzMi40IDAgNDQuNy0xMi40IDEyLjQtMzIuNCAxMi40LTQ0LjggMGwtMTk0LjMtMTk0LjNjLTYuMS02LjEtOS4yLTE0LjItOS4yLTIyLjN6IiBmaWxsPSIjYzExYTMyIi8+DQo8L3N2Zz4=');
	} 
	& .swiper-button-next{
		background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0iVVRGLTgiPz4NCjxzdmcgZW5hYmxlLWJhY2tncm91bmQ9Im5ldyAtMjUzIDU1LjEgNDUxLjkgNDUxLjkiIHZlcnNpb249IjEuMSIgdmlld0JveD0iLTI1MyA1NS4xIDQ1MS45IDQ1MS45IiB4bWw6c3BhY2U9InByZXNlcnZlIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciPg0KCTxwYXRoIGQ9Im0xMDEuNyAyODEuMWMwIDguMS0zLjEgMTYuMi05LjMgMjIuNGwtMTk0LjMgMTk0LjNjLTEyLjQgMTIuNC0zMi40IDEyLjQtNDQuOCAwcy0xMi40LTMyLjQgMC00NC43bDE3Mi0xNzItMTcxLjktMTcxLjljLTEyLjQtMTIuNC0xMi40LTMyLjQgMC00NC43IDEyLjQtMTIuNCAzMi40LTEyLjQgNDQuOCAwbDE5NC4zIDE5NC4yYzYuMSA2LjIgOS4yIDE0LjMgOS4yIDIyLjR6IiBmaWxsPSIjYzExYTMyIi8+DQo8L3N2Zz4=');
	}
}

